@font-face {
  font-family: 'font-awesome';
  font-weight: 400;
  font-style: normal;
  src: 
        url('../../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff');
  font-display: swap;
}

/* Стили шрифта Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: 
        url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: 
        url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: 
        url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: 
        url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: 
        url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/MontserratMontserrat-Bold.woff') format('woff');
  font-display: swap;
}

/* ---------------------------------------------------- */
/* Стили шрифта Poppins */

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: 
        url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: 
        url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: 
        url('../fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: 
        url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-display: swap;
}

/* ---------------------------------------------------- */
/* Стили шрифта BebasNeue */

@font-face {
  font-family: 'BebasNeue';
  font-weight: 400;
  font-style: normal;
  src: 
        url('../fonts/BebasNeueBold/BebasNeue Regular.woff2') format('woff2'),
        url('../fonts/BebasNeueBold/BebasNeueRegular.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'BebasNeue';
  font-weight: 700;
  font-style: normal;
  src: 
        url('../fonts/BebasNeueBold/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff');
  font-display: swap;
}
