

/* Переменные для шрифтов */
%Montserrat-300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

%Montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%Montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%Montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

%Montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* ---------------------------------------------------- */
/* Стили шрифта Poppins */


%Poppins-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%Poppins-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%Poppins-italic-700 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 700;
}

%Poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* ---------------------------------------------------- */
/* Стили шрифта BebasNeue */


%BebasNeue-400 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
}

%BebasNeue-700 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 700;
}
