.footer {
  background-image: url(../../images/footer-bg.png);
  padding-bottom: 100px;
  padding-top: 200px;
  margin-top: -75px;

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__column {
    max-width: 300px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__title {
    @extend %Montserrat-500;
    font-size: 28px;
    color: rgb(55, 83, 218);
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__connected {
    max-width: 550px;
    padding-left: 80px;
    width: 100%;
    
    & .footer__title {
      margin-bottom: 25px;
    }
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    @extend %Montserrat-400;
    font-size: 15px;
    color: white;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 90px;
  }

  &__contacts {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: white;

    & + a {
      margin-left: 20px;
    }
  }

  &__icon {
    font-size: 20px;
    color: black;
  }
}

.form {

  &__input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    background-color: #2f2f2f;
    margin-bottom: 25px;
  }
}


@media (max-width: 1200px) {
  .footer {

    &__body {
      display: grid;
      grid-template-rows: 1fr 1fr; /* 3 строки */
      grid-template-columns: 1fr 1fr; /* 4 столбца */
      text-align: center;
      grid-row-gap: 35px;
    }

    &__column {
      margin: 0 auto;
    }

    &__item {
      margin-bottom: 25px;
    }

    &__content {
      justify-content: center;
      margin-bottom: 60px;
    }

    &__connected {
      margin: 0 auto 100px;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .footer {

    &__body {
      display: block;
    }

    &__column {
      margin: 0 auto 100px;
    }

    &__item {
      margin-bottom: 25px;
    }

    &__content {
      justify-content: center;
      margin-bottom: 60px;
    }

    &__connected {
      margin: 0 auto 100px;
      padding: 0;
    }
  }
}

@media (max-width: 558px) {
  .footer {

    &__connected {
      margin: 0 auto 50px;
    }

    &__contacts {
      
      & + a {
        margin-left: 0px;margin: 0 auto;
      }

      
    }
    
    &__contacts {
      margin: 0 auto;
    }
    
    &__content {
      display: grid;
      grid-template-rows:  1fr 1fr; /* 2 строки */
      grid-template-columns: 1fr 1fr 1fr; /* 2 столбца */
      grid-row-gap: 45px;
    }
  }

  .form {

    &__input {
      width: 80%;
    }
  }
}