<footer class="footer">
  <div class="container">
    <div class="footer__body">

      <div class="footer__column">
        <div class="footer__title">
          Shops
        </div>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">New In</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Women</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Schuhe Shoes</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Bags & Accessories</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Men</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Top Brands</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Sale & Special Offers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Lookbook</a>
          </li>
        </ul>
      </div>

      <div class="footer__column">
        <div class="footer__title">Information</div>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">About us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Customer Service</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">New Collection</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Best Sellers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Manufacturers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms & condition</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Blog</a>
          </li>
        </ul>
      </div>

      <div class="footer__column">
        <div class="footer__title">Customer Service </div>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Search Terms</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Advanced Search</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Orders and Returns</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact Us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">RSS</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Help & FAQs</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Consultant</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Store Locations</a>
          </li>
        </ul>
      </div>

      <div class="footer__connected">
        <div class="footer__title">Stay Connected </div>

        <div class="footer__content" href="#">
          <a class="footer__contacts">
            <i class="fa fa-google-plus footer__icon" aria-hidden="true"></i>
          </a>
          <a class="footer__contacts" href="#">
            <i class="fa fa-pinterest-p footer__icon" aria-hidden="true"></i>
          </a>
          <a class="footer__contacts" href="#">
            <i class="fa fa-vimeo footer__icon" aria-hidden="true"></i>
          </a>
          <a class="footer__contacts" href="#">
            <i class="fa fa-facebook-square footer__icon" aria-hidden="true"></i>
          </a>
          <a class="footer__contacts" href="#">
            <i class="fa fa-twitter footer__icon" aria-hidden="true"></i>
          </a>
          <a class="footer__contacts" href="#">
            <i class="fa fa-rss footer__icon" aria-hidden="true"></i>
          </a>
        </div>

        <div class="footer__title"> NEWSLETTER SIGN UP</div>

        <form action="" class="form">
          <input type="email" class="form__input">
          <button class="shop-now">Shop now</button>
        </form>
      </div>

    </div>
  </div>
</footer>