<div class="shoes">

  <div class="shoes-item">
    <img src="images/shoes/item_1.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Stefan Janoski Max</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>

  </div>

  <div class="shoes-item">
    <img src="images/shoes/item_2.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Vandal High Supreme</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/shoes/item_3.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">New Zoom</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/shoes/item_4.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Fit Shoes</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/glasses.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Free Shipping</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>


<div class="shoes__girl">

</div>


  <div class="shoes-item">
    <img src="images/shoes/item_5.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Apple Watch</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/shoes/item_6.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Sports Shoes</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/shoes/item_7.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Men Shoes</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>

  <div class="shoes-item">
    <img src="images/item_8.jpg" alt="">

    <div class="shoes-item__text">
      <span class="shoes-item__title">Girl Shoes</span>
      <span class="shoes-item__new-price">$ 100.00</span>
      <span class="shoes-item__old-price">$ 200</span>
    </div>
  </div>
</div>