.shoes {
  display: grid;
  grid-template-rows:  370px 370px 370px; /* 3 строки */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 3 столбца */
}

.shoes-item {
  max-width: 370px;
  width: 100%;
  padding: 50px 45px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__title {
    @extend %BebasNeue-400;
    font-size: 25px;
    color: #0d2e57;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
  }

  &__new-price {
    @extend %Montserrat-700;
    font-size: 16px;
    color: #3954d9;
  }

  &__old-price {
    @extend %Montserrat-500;
    font-size: 12px;
    color: rgb(83, 79, 79);
    margin-left: 10px;
  }
}